@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'lato', sans-serif;
	background-color: #aadef6;
}

h2 {
	font-size: 5rem;
	color: #dbecec;
	font-weight: bold;
	padding: 1rem;
	font-family: 'Pridi', serif;
}

.coming-soon {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.countdown {
	display: flex;
	justify-content: space-around;
	text-align: center;
	text-transform: uppercase;
}

.day,
.hour,
.minute,
.second {
	font-size: 3.5rem;
}

.calendar {
	height: 65vh;
}

body { 
	margin: 0px;
	padding: 0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #000;
	color: #bbbbbb;
}
a:visited, a:active, a:link {
	text-decoration: none;
	color: white;
}
a:hover {
	color: yellow;
}
#container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	overflow: hidden;
}
#info {
	width: 400px;
	margin-top:120px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgba(180, 180, 180, 0.2);
	padding: 60px;
}
#info h3 { 
	font-size: 28px;
	font-weight: lighter;
	line-height: 36px;
	text-shadow: rgba(0, 0, 0, 1) 0px 1px 0px;
}
.bigText { 
	font-size: 16px;
	line-height: 24px;	
}

